<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{% block title %}Root{% endblock %}</title>
    <!-- Defining a title in base template which can be overwritten by the child template-->
</head>
<body >
    <nav class="flex w-full h-[50px]  text-[18px] items-center px-12 items-between">
        <div class="flex w-1/2 justify-start"><span><a href="/">Logo</a></span></div>
        <div class="flex w-1/2 justify-end space-x-4"></div>
        {% if user.is_authenticated %}
        <span class="px-4"><a href="/logout">Logout</a></span>
        <span class="px-4"><a href="/dashboard">Dashboard</a></span>
        {% else %}
        <span class="px-4"><a href="/login" >Login</a></span>
        <span class="px-4"><a href="/signup" >Signup</a></span></div>
        {% endif %}
    </nav>
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Error</strong>
        <span class="block sm:inline">{{ message }}</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3" id="close-button">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <title>Close</title>
                <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
        </span>
</div>
    {% else %}
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Success</strong>
        <span class="block sm:inline">{{ message }}</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3" id="close-button">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <title>Close</title>
                <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
        </span>
    </div>
    {%endif%}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container w-full h- full flex justify-center bg-indigo-400">
        {% block contains %}{% endblock %}
    </div>

    <script>
        $(document).ready(function () {
            $('#close-button').click(function () {
                $(this).parent().fadeOut('slow'); // Fades out the parent div containing the close button
            });
        });
    </script>
</body>
</html>