{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block contains %}
<div class="flex w-screen h-full items-center justify-center bg-black ">
<form class="absolute w-full md:w-1/2 md:h-full py-4 grid my-4  content-center px-20  bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-20 " method="POST">
    <div class="mb-4 ">
        <label class="block text-white text-sm font-bold mb-2" for="email">
            Email
        </label>
        <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
            name="email" type="text" placeholder="Email">
    </div>
    <div class="mb-6">
        <label class="block text-white text-sm font-bold mb-2" for="password">
            Password
        </label>
        <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-black mb-3 leading-tight focus:outline-none focus:shadow-outline"
            name="password" type="password" placeholder="******************">
        <p class="text-white text-xs italic">Please choose a password.</p>
    </div>
    <div class="flex items-center justify-between">
        <button
            class="w-48 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Log In
        </button>
    </div>
    <p class="text-white text-sm py-4">
        New to the platform? <a href="/signup" class="hover:underline hover:underline-offset-4">Create an account :)</a>
    </p>
</form><div class="flex w-2/3 h-full bg-black">
<img src="../static/images/loginbg.png">
</div>
</div>{%endblock%}